@font-face {
    font-family: 'Noteworthy';
    src: url('../fonts/Noteworthy-Bold.ttf');
}

.background {
    -fx-background-image: url('../images/background.png'), url('../images/board.png');
    -fx-background-size: cover, 70% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

.boardBg{
    -fx-background-image: url('../images/board.png');
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.titre {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/buttonFrame.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 35;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#text{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-padding: 230 350 ;
}
#retour{

    -fx-translate-x: 410; /* Position horizontale */
    -fx-translate-y: 630; /* Position verticale */
}
#suivant{

    -fx-translate-x: 930; /* Position horizontale */
    -fx-translate-y: 630; /* Position verticale */
}


.custom-button {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 90;
    -fx-pref-width: 450;
    -fx-prompt-text-fill: white;
}
.custom-buttonGrille {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 70;
    -fx-pref-width: 400;
    -fx-prompt-text-fill: white;
}

.custom-button2 {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 35;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.custom-img {
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 70;
    -fx-pref-width: 400;
    -fx-prompt-text-fill: white;
}
.custom-buttonS {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-text-alignment: center;
    -fx-pref-height: 100;
    -fx-pref-width: 180;
    -fx-prompt-text-fill: white;

}

.custom-buttonR {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-text-alignment: center;
    -fx-pref-height: 100;
    -fx-pref-width: 180;
    -fx-prompt-text-fill: white;
}

.custom-buttonR {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-text-alignment: center;
    -fx-pref-height: 100;
    -fx-pref-width: 180;
    -fx-prompt-text-fill: white;
}
/*style pour les buttons de leaderboard score et temps*/
.custom-buttonFrameLB {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/buttonFrame.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-text-alignment: center;
    -fx-pref-height: 100;
    -fx-pref-width: 180;
    -fx-prompt-text-fill: white;
}

#buttonContainer {
    -fx-alignment: center-right;
    -fx-padding: 0 10 10 0; /* Padding pour décaler le bouton vers le bas et à droite */

}

.custom-button-titre {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 35px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/buttonFrame.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 120;
    -fx-pref-width: 550;
    -fx-prompt-text-fill: white;
}


.custom-barre {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/barre.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    /*-fx-padding: 20 50 30 50;*/
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 80;
    -fx-pref-width: 550;
    -fx-start-margin: 20;
}

.custom-button:hover {
    -fx-background-image: url('../images/hover_bouton.png');
}




#leaderboard {
    -fx-background-color: red; /*couleur temporaire pour le test*/
    -fx-background-image: url('../images/leaderboard.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
}

#info_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton_info.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-text-alignment: center;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
}


#mute_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: bottom-center;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
}

#soundless_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton_fleche_gauche.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 75;
    -fx-pref-width: 75;
}

#soundmore_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton_fleche_droite.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 75;
    -fx-pref-width: 75;
}

#soundBar{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    /*-fx-image: url('../images/barre_volume_2.png');*/
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 100;
    -fx-pref-width: 600;
}

#username_field{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 60;
    -fx-pref-width: 200;
    -fx-prompt-text-fill: white;
}

.textZone{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 60;
    -fx-pref-width: 300;
    -fx-prompt-text-fill: white;
}

#usernameZone{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 90%;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 100;
    -fx-pref-width: 500;
    -fx-prompt-text-fill: white;
}

#back_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton_retour.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center-left;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
}

#grilleImageView {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-style: solid;
}
.imgLogo{
    -fx-image: url('../images/logo.png');
}
.imgLB{
    -fx-image: url('../images/niv1.png');
}

.custom-backButton{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 0;
    -fx-text-alignment: center;
    -fx-pref-height: 75;
    -fx-pref-width: 200;
    -fx-prompt-text-fill: white;
}

.custom-continuerButton{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton_fleche_droite.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center-right;
    -fx-background-size: 100% 100%;
    -fx-padding: 0;
    -fx-text-alignment: center;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
    -fx-prompt-text-fill: white;
}
.textLbl{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-prompt-text-fill: white;
}

.projectText{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-pref-width: 600.0;
    -fx-prompt-text-fill: white;
}

.memberTitle{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: black;
    -fx-font-size: 24px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-pref-width: 650.0;
    -fx-prompt-text-fill: white;
    -fx-underline: true;
}

.titreInfo {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/buttonFrame.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 35;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.bgJeu {
    -fx-background-image: url('../images/background.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

.zoom {
    -fx-background-image: url('../images/zoom.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.dezoom {
    -fx-background-image: url('../images/dezoom.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.undo {
    -fx-background-image: url('../images/undo.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.redo {
    -fx-background-image: url('../images/redo.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.help {
    -fx-background-image: url('../images/help.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.check {
    -fx-background-image: url('../images/check.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.quit {
    -fx-background-image: url('../images/home.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

#text{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-padding: 150 300 ;
}

.param {
    -fx-background-image: url('../images/param.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.restart {
    -fx-background-image: url('../images/restart.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}


.grille {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}


.boutonIle {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 50%;
    -fx-shape: "M50,0 A50,50 0 0,1 100,50 A50,50 0 0,1 50,100 A50,50 0 0,1 0,50 A50,50 0 0,1 50,0 Z"; /* Ajouté pour rendre le bouton lui-même circulaire */
}

.undisplayButton {
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}
/* bouton qui bouge pas*/
.custom-buttonNoMotion {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 90;
    -fx-pref-width: 130;
    -fx-prompt-text-fill: white;

}


/* ajout*/

.background {
    -fx-background-image: url('../images/background.png'), url('../images/board.png');
    -fx-background-size: cover, 70% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

.boardBg{
    -fx-background-image: url('../images/board.png');
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.chrono {
    -fx-font-family: 'Noteworthy';
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}


.custom-barre {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/barre.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    /*-fx-padding: 20 50 30 50;*/
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-start-margin: 20;
}

.custom-button:hover {
    -fx-background-image: url('../images/hover_bouton.png');
}


VBox {
    -fx-spacing: 5.0;
}

HBox{
    -fx-spacing: 5.0;
}


#leaderboard {
    -fx-background-color: red; /*couleur temporaire pour le test*/
    -fx-background-image: url('../images/leaderboard.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
}

#info_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton_info.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-text-alignment: center;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
}


#mute_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: bottom-center;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
}

#soundBar{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    /*-fx-image: url('../images/barre_volume_2.png');*/
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 100;
    -fx-pref-width: 600;
}

#back_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton_retour.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center-left;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
}

.imgLogo{
    -fx-image: url('../images/logo.png');
}


.bgJeu {
    -fx-background-image: url('../images/background.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

.zoom {
    -fx-background-image: url('../images/zoom.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}


.undo {
    -fx-background-image: url('../images/undo.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.redo {
    -fx-background-image: url('../images/redo.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.help {
    -fx-background-image: url('../images/help.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.check {
    -fx-background-image: url('../images/check.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.quit {
    -fx-background-image: url('../images/home.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.param {
    -fx-background-image: url('../images/param.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.restart {
    -fx-background-image: url('../images/restart.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}


.grille {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}


.boutonIle {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 50%;
    -fx-shape: "M50,0 A50,50 0 0,1 100,50 A50,50 0 0,1 50,100 A50,50 0 0,1 0,50 A50,50 0 0,1 50,0 Z"; /* Ajouté pour rendre le bouton lui-même circulaire */
}

.undisabledButton {
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.hypothese{
    -fx-background-image: url('../images/hypothese.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.valid_hypo{
    -fx-background-image: url('../images/bouton_valid_hypo.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.supp_hypo{
    -fx-background-image: url('../images/bouton_supp_hypo.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.background {
    -fx-background-image: url('../images/background.png'), url('../images/board.png');
    -fx-background-size: cover, 70% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

.boardBg{
    -fx-background-image: url('../images/board.png');
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.chrono {
    -fx-font-family: 'Noteworthy';
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.custom-button:hover {
    -fx-background-image: url('../images/hover_bouton.png');
}


VBox {
    -fx-spacing: 5.0;
}

HBox{
    -fx-spacing: 5.0;
}


#leaderboard {
    -fx-background-color: red; /*couleur temporaire pour le test*/
    -fx-background-image: url('../images/leaderboard.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
}

#info_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton_info.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-text-alignment: center;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
}


#mute_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: bottom-center;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
}

#soundBar{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    /*-fx-image: url('../images/barre_volume_2.png');*/
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 100;
    -fx-pref-width: 600;
}

#back_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton_retour.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-alignment: center-left;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
}

.imgLogo{
    -fx-image: url('../images/logo.png');
}

.bgJeu {
    -fx-background-image: url('../images/background.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

.zoom {
    -fx-background-image: url('../images/zoom.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.dezoom {
    -fx-background-image: url('../images/dezoom.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.undo {
    -fx-background-image: url('../images/undo.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.redo {
    -fx-background-image: url('../images/redo.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.help {
    -fx-background-image: url('../images/help.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.check {
    -fx-background-image: url('../images/check.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.quit {
    -fx-background-image: url('../images/home.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.param {
    -fx-background-image: url('../images/param.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.restart {
    -fx-background-image: url('../images/restart.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}


.grille {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.undisabledButton {
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.hypothese{
    -fx-background-image: url('../images/hypothese.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.valid_hypo{
    -fx-background-image: url('../images/bouton_valid_hypo.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.supp_hypo{
    -fx-background-image: url('../images/bouton_supp_hypo.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.textAide{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.vbox_aide{
    -fx-background-image: url('../images/board.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
}

.bouton_ok{
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-insets: 0;
    -fx-border-radius: 10px;
    -fx-background-color: #C01859;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 5, 5);
}

.bouton_ok:hover {
    -fx-background-color: #712746;
    -fx-background-insets: 0, 1, 2;
}

.param2 {

    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/param.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: Right;
    -fx-background-size: 100% 100%;
    -fx-pref-height: 70;
    -fx-pref-width: 70;


}