
target/classes/com/example/demojeumenu/Parametres.fxml
target/classes/com/example/demojeumenu/Parametres.class
target/classes/com/example/demojeumenu/images/buttonFrame.png
target/classes/com/example/demojeumenu/images/bouton_volume.png
target/classes/com/example/demojeumenu/images/bouton_retour.png
target/classes/com/example/demojeumenu/images/bouton_mute.png
target/classes/com/example/demojeumenu/images/bouton_info.png
target/classes/com/example/demojeumenu/images/bouton_fleche_gauche.png
target/classes/com/example/demojeumenu/images/bouton_fleche_droite.png
target/classes/com/example/demojeumenu/images/barre_volume_5.png
target/classes/com/example/demojeumenu/images/barre_volume_4.png
target/classes/com/example/demojeumenu/images/barre_volume_3.png
target/classes/com/example/demojeumenu/images/barre_volume_2.png
target/classes/com/example/demojeumenu/images/barre_volume_1.png
target/classes/com/example/demojeumenu/images/barre_volume_0.png
target/classes/com/example/demojeumenu/images/background1.png
