@font-face {
    font-family: 'Noteworthy';
    src: url('../fonts/Noteworthy-Bold.ttf');

}

.background {
    -fx-background-image: url('../images/background.png'), url('../images/board.png');
    -fx-background-size: cover, 70% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center, center;
}

.custom-button {
    -fx-font-family: 'Noteworthy';
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 100;
    -fx-pref-width: 550;
    -fx-prompt-text-fill: white;
}

.button:hover {
    -fx-background-image: url('../images/hover_bouton.png');
}

/*
.text-field:hover {
    -fx-background-image: url('../images/hover_bouton.png');
}
*/

VBox {
    -fx-spacing: 20.0;
}

HBox{
    -fx-spacing: 20.0;
}

#leaderboard {
    -fx-background-color: red; /*couleur temporaire pour le test*/
    -fx-background-image: url('../images/leaderboard.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
}

#info_button{

}


#mute_button{

}

#back_button{

}

#soundless_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton_fleche_gauche.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 75;
    -fx-pref-width: 75;
}

#soundmore_button{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('../images/bouton_fleche_droite.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 75;
    -fx-pref-width: 75;
}

#soundBar{
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-image: url('../images/barre_volume_2.png');
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-height: 100;
    -fx-pref-width: 600;
}