.custom-button {
    -fx-background-color: transparent; /* Retirer le fond par défaut du bouton */
    -fx-border-color: transparent; /* Retirer la bordure par défaut du bouton */
    -fx-background-image: url('bouton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 0;
    -fx-text-fill: red; /* Définir la couleur du texte en blanc */
    -fx-font-weight: bold; /* Rendre le texte en gras */
    -fx-font-size: 16px;
}

.custom-button:hover {
    -fx-background-image: url('bouton_survol.png');
}


#bouton {
    -fx-text-fill: white;
}

.VBox {
    -fx-background-image: url('fond.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.StackPane {
    -fx-background-image: url('board.png');
    -fx-background-size: 850px 750px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
